@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background: #424242
    url(https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png);
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mt-9 {
  margin-top: 90px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-white {
  color: white !important;
  text-decoration: none;
}
.link-white:hover {
  text-decoration: none;
}

.hide {
  visibility: hidden !important;
}
.show {
  visibility: visible !important;
}

.card-poke-default {
  background: rgb(255, 135, 133);
  background: linear-gradient(
    168deg,
    rgba(255, 135, 133, 1) 21%,
    rgba(239, 83, 80, 1) 100%
  );
  padding: 1em;
  border-radius: 1em;
}

.card-poke-title {
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.card-poke-info {
  color: white !important;
  font-size: x-large;
}

.info-pokemon {
  background-color: #f3f3f3;
  color: black;
  padding: 3em;
  border-radius: 1em;
  margin-left: 1rem;
  margin-right: 1rem;
}

.img-pokemon {
  background-color: #eaeaea70;
  width: 15em;
  height: 15em;
  border-radius: 2em;
}
img.logo-menu {
  width: 5em;
}
.card-info {
  color: white !important;
  margin: 1em;
  border-radius: 1em;
  padding-top: 1em;
}

.footer {
  background-color: rgb(239, 83, 80);
  width: 100%;
  bottom: 0;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
}
/*Para las cards de los pokemons*/

img.card-img-top {
  cursor: pointer;
  height: 10em;
  padding: 1em;
  background-color: #eaeaea70;
}
img.card-img-top:hover {
}
/*Colores para types */
.card-poke-tipo {
  color: white;
}
.type-electric {
  background-color: #eed535;
}
.type-ground {
  background-color: #eed535;
}
.type-fire {
  background-color: #fd7d24;
}
.type-water {
  background-color: #4592c4;
}
.type-rock {
  background-color: #a38c21;
}
.type-normal {
  background-color: #a8a878;
}
.type-grass {
  background-color: #78c850;
}
.type-ice {
  background-color: #98d8d8;
}
.type-fighting {
  background-color: #c03028;
}
.type-poison {
  background-color: #a040a0;
}
.type-flying {
  background-color: #a890f0;
}
.type-psychic {
  background-color: #f85888;
}
.type-bug {
  background-color: #a8b820;
}
.type-ghost {
  background-color: #705898;
}
.type-dark {
  background-color: #705848;
}
.type-dragon {
  background-color: #7038f8;
}
.type-steel {
  background-color: #b8b8d0;
}
.type-fairy {
  background-color: #f0b6bc;
}

.card-pokemon {
  transition: transform 0.2s;
  cursor: pointer;
}

.card-pokemon:hover {
  transform: scale(1.2);
  z-index: 10;
}

.btn-pokemon {
  border-color: black;
  border-radius: 0;
  border-width: 3px;
  color: black !important;
  background: linear-gradient(
    to top,
    white 0%,
    white 50%,
    #ef5350 0%,
    #ef5350 100%
  );
  text-transform: uppercase;
  font-weight: bold;
}

.btn-pokemon::hover {
  border-color: black;
  border-radius: 0;
  border-width: 3px;
  color: black !important;
  background: linear-gradient(
    to top,
    white 0%,
    white 50%,
    #ef5350 0%,
    #ef5350 100%
  );
  text-transform: uppercase;
  font-weight: bold;
}

.btn-outline-warning {
  color: #f9c903;
  border-color: #f9c903;
}

a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: black;
  text-decoration: none;
  background-color: transparent;
}
